body {
    background: #fff;
    font-family: "Lantinghei SC", "Helvetica Neue", "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI", Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tcy_404 img {
    display: block;
    margin: auto;
}

.tcy_404 h2 {
    font-size: 32px;
    color: #333333;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 33px;
    padding-bottom: 25px;
}

.tcy_404 p {
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 35px;
}

a{
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-top: 24px auto;
    padding: 0 25px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background: #444;
    background-color: #fff;
    color: #999;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
}

    .btn:hover {
        outline-style: none;
        border-color: #f77b83;
        color: #f77b83
    }

