body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#YiYan {
    top: 0;
    right: 0;
    width: 400px;
    height: auto;
    color: #ffd700;
    font-size: 24px;
    line-height: 1.5; /*设置文本的行高为字号的 1.5 倍*/
    position: absolute;
    word-wrap: break-word; /* 单词过长时自动换行 */
}

/*网页一键变灰*/
/*html {
            -webkit-filter: grayscale(100%);*/ /* webkit */
/*-moz-filter: grayscale(100%);*/ /*firefox*/
/*-ms-filter: grayscale(100%);*/ /*ie9*/
/*-o-filter: grayscale(100%);*/ /*opera*/
/*filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
            filter: gray;*/ /*ie9- */
/*}*/

#datetime-container {
    position: fixed;
    bottom: 10px; /* 距离底部的距离 */
    right: 30px; /* 距离右侧的距离 */
    background-color: rgba(255, 255, 255, 0.5); /* 背景颜色，可选 */
    padding: 10px; /* 内边距，可选 */
    border-radius: 5px; /* 边框圆角，可选 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果，可选 */
}

#jsi-flying-fish-container {
    position: fixed; /* 使其固定在页面位置 */
    bottom: 0; /* 定位到页面底部 */
    width: 100%; /* 占据整个宽度 */
    height:250px;
    text-align: center; /* 内容居中 */
    overflow: hidden; /* 防止溢出 */
    display: inline-block; /* 使图像按行排列 */
}

.hans-container {
    position: fixed; /* 将容器固定在屏幕上 */
    bottom: 0; /* 将容器放置在屏幕底部 */
    left: 0; /* 使容器左侧对齐浏览器窗口左侧 */
    width: 100%; /* 宽度与浏览器窗口相同 */
    height: 120px; /* 设置容器的高度为120px */
}

/* 将图片容器定位到左上角 */
.image-time {
    position: fixed; /*确保图片不随页面滚动 */
    top: 0;
    left: 0;
    opacity: 0.5;
}

/* 将音频容器定位到左边中间 */
.audio-container {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
/* 样式化描述音频文字 */
.audio-description {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
/* 样式化刷新按钮 */
.refresh-button {
    position: absolute;
    top: 60%;
    right: -60px; /* 调整按钮与音频容器的距离 */
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url("./shuaxin.svg");
    background-size: cover;
    cursor: pointer;
}

#video-container {
    background-color: black;
    position: relative;
    width: 100%;
    max-width: 800px; /* 容器最大宽度 */
    height: calc(100% - 50px); /* 容器高度为除按钮容器之外的剩余空间 */
    outline: 2px solid #ccc;
}

#player {
    background-color: transparent;
    width: 100%;
    height: 90%; /* 视频高度填充整个视频容器 */
}

#buttons {
    position: absolute; /* 绝对定位 */
    bottom: 15px; /* 调整距容器底部位置 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 0; /* 添加内边距 */
    opacity: 0.8; /* 设置透明度 */
}

#switch, #next, #change-source {
    background: #7F9CCC; /* 按钮背景颜色 */
    color: #fff; /* 字体颜色 */
    line-height: 40px; /* 行高 */
    text-align: center; /* 文本居中 */
    width: 120px; /* 按钮宽度 */
    border: none; /* 无边框 */
    margin: 0 6px; /* 按钮间距 */
    border-radius: 6px; /* 边框圆角 */
    font-weight: bold; /* 字体加粗 */
}

#source-list-container {
    position: relative; /* 相对定位 */
    display: inline-block; /* 内联块元素 */
}

#source-list {
    position: absolute; /* 绝对定位 */
    top: calc(100% + 10px); /* 在切换源按钮的下方 */
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    overflow-y: auto; /* 启用垂直方向滚动 */
    max-height: 200px; /* 设置最大高度 */
}

    #source-list.active {
        display: block;
    }

    #source-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #source-list li {
        padding: 8px 16px;
        cursor: pointer;

    }

        #source-list li:hover {
            background-color: #f0f0f0;
        }

        #source-list li.active {
            background-color: #4CAF50;
            color: white;
        }